* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: #f8f9fa;
}
header{
  text-align: center;
  background-color: #adb5bd;
  padding: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #212529;
  margin: 0;
}
@media (max-width: 650px) {
  header {
    font-size: 14px;
  }
}
.women-w-basket {
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  gap: 30px;
  margin-top: 6%;                 
}
.Container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  column-gap: 0;
  row-gap: 0;
  max-width: 352px;
  margin-bottom: 10px;
}
.description{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.image {
  flex: 30%;
}
.image img {
  width: 100%;
  height: auto;
  display: block;
}
.content{
  text-align: right;
  max-width:fit-content;
}
video {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
}
.Container:hover, video:hover {
  box-shadow: 0 0 10px rgba(173, 181, 189, 0.8);
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .women-w-basket {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;      
    margin-top: 6%;  
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4%;               
  }
  .Container,
  .content {        
    max-width: 90%;      
  }
  video {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
@media (max-width: 650px) {
  .women-w-basket {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;                    
  }
  .Container,
  .content {        
    max-width: 90%;      
  }
  video {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .description {
    font-size: 12px;
  }

}